<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="lottery" class="lab00.spring.xml.solution.LotteryBean">
		<property name="lowerBound" value="1"></property>
		<property name="upperBound" value="24"></property>
		<property name="ballNumber" value="12"></property>
	</bean>
</beans>
